{% extends 'base.html' %}
{% block content %}
        <div class="container">
        <div class="row">
            <form class="form-horizontal" role="form" name="commerce_chambers_form">
                <div class="form-group">
                    <legend>Заява про внесення до Єдиного реєстру громадських формувань відомостей про політичні партії</legend>
                </div>

                <!-- Тип операції -->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label">
                            <p align="left">Тип операції:</p>
                            <label class="radio-inline">
                                <input type="radio" name="oper_type" value="Registration" checked>
                                <strong>Рєстрація</strong><br>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="oper_type" value="Change Registration">
                                <strong>Реєстрація зміни</strong>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="oper_type" value="Correct Mistakes">
                                <strong>Виправлення помилок</strong>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="oper_type" value="Issue cert copy">
                                <strong>Видача дубліката свідоцтва</strong>
                            </label>
                        </label>
                    </div>
                </div>
                <hr>

                <!-- Документ -->
                <div class="form-group">
                    <p><h4>
                        Відомості про документ, на підставі якого здійснюється реєстрація, припинення діяльності,
                        вноситься зміна до запису або видається дублікат свідоцтва про реєстрацію
                    </h4></p>
	                <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="doc_name">Назва документа:</label>
                        <input type="text" id="doc_name" name="doc_name" placeholder="">
	                </div>

                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="doc_num">Номер документа:</label>
                        <input type="text" id="doc_num" name="doc_num" placeholder="">
	                </div>

                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="doc_date">Дата документа:</label>
                        <input type="date" id="doc_date" name="doc_date" placeholder="">
	                </div>

                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="doc_registrator">Ким видано документ:</label>
                        <input type="text" id="doc_registrator" name="doc_registrator" placeholder="">
	                </div>
                </div>
                <hr>

                <!-- -->
                <div class="form-group">
                    <p><h4>
                        Відомості про партію:
                    </h4></p>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="org_full_name">Повне найменування:</label>
                        <input type="text" id="org_full_name" name="org_full_name" placeholder="">
	                </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="org_goal">Основна мета діяльності:</label>
                        <input type="text" id="org_goal" name="org_goal" placeholder="">
	                </div>
                    <p><h4>Керівники:</h4></p>
                    <div class="leaderBox">
                        <div class="col-sm-10 col-sm-offset-2">
                            <label class="control-label" for="led_pib">Прізвище, ім’я, по батькові:</label>
                            <input type="text" id="led_pib" name="led_pib" placeholder="">
                        </div>

                        <div class="col-sm-10 col-sm-offset-2">
                            <label class="control-label" for="led_post">Посада:</label>
                            <input type="text" id="led_post" name="led_post" placeholder="">
                        </div>
                    </div>
                    <button class="btn btn-default col-sm-offset-2 addLeaderButton" type="button">
                        <span class="glyphicon glyphicon-plus-sign"> Додати</span>
                    </button>
                </div>
                <hr>

                <!-- Адреса-->
                <div class="form-group">
                    <p><h4>Контакти:</h4></p>
	                <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="addr_region">Область:</label>
                        <input type="text" id="addr_region" name="addr_region" placeholder="">
	                </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="addr_area">Район:</label>
                        <input type="text" id="addr_area" name="addr_area" placeholder="">
	                </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="addr_city">Місто:</label>
                        <input type="text" id="addr_city" name="addr_city" placeholder="">
	                </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="addr_adderss">Адреса:</label>
                        <input type="text" id="addr_adderss" name="addr_adderss" placeholder="">
	                </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="addr_post_index">Поштовий індекс:</label>
                        <input type="text" id="addr_post_index" name="addr_post_index" placeholder="">
	                </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="addr_phone">Телефон:</label>
                        <input type="text" id="addr_phone" name="addr_phone" placeholder="">
	                </div>
                </div>
                <hr>

                <!--
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2 leaderBox">
                        <label class="control-label">Имя</label>
                        <input type="text" name="nameLeader" placeholder="Введите ФИО">

                        <label class="control-label">Имя</label>
                        <input type="text" name="nameLeader" placeholder="Введите имя">

                        <label class="control-label">Имя</label>
                        <input type="text" name="nameLeader" placeholder="Введите имя"> <br>
                    </div>
                    <button class="btn btn-default col-sm-offset-2 addLeaderButton" type="button">
                        <span class="glyphicon glyphicon-plus-sign"> Додати</span>
                    </button>
                </div>
                -->

                <!-- Зареєструвати -->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">Зареєструвати палату</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>

        $('.addLeaderButton').click(function() {
            var html =
            "<div class=\"col-sm-10 col-sm-offset-2\"><label class=\"control-label\">Прізвище, ім’я, по батькові:</label><input type=\"text\" name=\"led_pib\" placeholder=\"\"></div><div class=\"col-sm-10 col-sm-offset-2\"><label class=\"control-label\">Посада:</label><input type=\"text\" name=\"led_post\" placeholder=\"\"></div><br>"
            $('.leaderBox').append(html);
        });

        $('form[name="commerce_chambers_form"]').submit(function(e) {
            e.preventDefault();

            $.post('add_party/', $(this).serialize())
                .done(function(response) {
                    window.location.href = '/';
                })
                .fail(function(jqXHR) {
                    var error = JSON.parse(jqXHR);
                    console.log("FAIL")
                    console.log(error.status + " " + error.message);
                })
            ;
        });
    </script>
{% endblock content %}